*/**
!favicon/**
!ssl-conf/**

# SSL
!ssl-certs/createRootCA.sh
!ssl-certs/createSelfSigned.sh
!ssl-certs/server.csr.cnf
!ssl-certs/v3.ext

# Grunt
npm-debug.log
/node_modules/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db
